.selection button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.selection button.first {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.selection button.last {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.selection button.selected {
  background-color: var(--accent-color);
  color: white;
}

.selection button:hover {
  border-color: var(--accent-color);
}

