.contentDisplay{
  display: block;
  border-color:black;
}

.word {
  display: inline-block;
  font-size:large;
}

.currentWord {
  background-color: lightblue;
}


.letter.correct {
  color: blue;
}

.letter.incorrect {
  color: red;
}