.contentDisplay{
  display: block;
  border-color: var(--text-color);
  text-align: left;
  font-size: 15px;
}

.word {
  display: inline-block;
  font-size:large;
}

.currentWord {
  background-color: var(--accent-color);
}


.letter.correct {
  color: var(--primary-color);
}

.letter.incorrect {
  color: var(--error-color);
}

progress {
  height: 2px;
  width:100%;
  margin: 10px;
  appearance: none;
}

progress::-webkit-progress-bar {
  
  background: var(--button-background);
}

progress::-webkit-progress-value {
  background: var(--accent-color);
}