.contentDisplay{
  display: block;
  border-color: var(--text-color);
}

.word {
  display: inline-block;
  font-size:large;
}

.currentWord {
  background-color: var(--accent-color);
}


.letter.correct {
  color: var(--primary-color);
}

.letter.incorrect {
  color: var(--error-color);
}