.stat {
  display: inline-block;
  width: 19%;
  margin-bottom: 30px;
  border-style:solid;
  border-width : .1px;
  border-color : var(--button-background)
}

@media screen and (max-width: 743px) {
  .stat {
  font-size: 1.5%;
  width: 19%;
  border-style:solid;
  border-width : .1px;
  border-color : var(--button-background)
}

}