#root {
  min-height: 400px;
  width: 90vw;
  max-width: 880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5em; 
}

.header svg {
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
}

.header h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem; 
  color: var(--accent-color);
}

.language {
  display:block;
  text-align: right;
}
