#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5em; 
}

.header svg {
  display: inline-block;
  vertical-align: middle;
}

.header h2 {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5rem; 
  color: var(--accent-color);
}
